@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

button {
  font-family: "Space Mono", monospace;
}

img {
  display: block;
}

button {
  background-color: #fcb72b;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border: none;
  transition: 0.2s;
  border: 3px solid #fcb72b;
}
button:hover {
  background-color: transparent;
  color: #fcb72b;
}

ul li {
  font-size: 15px;
  font-weight: 700;
}
ul li a {
  text-decoration: none;
  color: #939CAA;
  transition: 0.3s;
}
ul li a:hover {
  color: #fcb72b;
}

.big-container {
  max-width: 1560px;
  margin: 0 auto;
}

.container {
  max-width: 1166px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.df-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.df-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df-c {
  display: flex;
  align-items: center;
}

.df-sb {
  display: flex;
  justify-content: space-between;
}

.fl-dr {
  flex-direction: column;
}

.df-fc-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.df {
  display: flex;
}

.big-txt {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.title-txt {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  color: #495567;
}

.medium-txt {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.0714285374px;
  color: #495567;
}

.small-medium-txt {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.0714285374px;
  color: #495567;
}

.btn-and-ul-txt {
  font-size: 15px;
  font-weight: 700;
}

.small-txt {
  font-family: Lexend Deca;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #939CAA;
}

.learnMore-btn {
  padding: 11px 41px;
}

.getScootin-btn {
  padding: 11px 36px;
}

.apply-btn {
  padding: 11px 64px;
}

header {
  padding: 22px 0;
  background-color: white;
}
header menu {
  -moz-column-gap: 58px;
       column-gap: 58px;
  background-color: white;
}
header menu .gam {
  display: none;
}
header menu .gam .x {
  display: none;
}
header menu .gam .gam1 {
  display: none;
  flex-direction: column;
  width: 20px;
  height: 16px;
}
header menu .gam .gam1 .gam_item {
  width: 100%;
  height: 3px;
  background-color: #fcb72b;
}
header menu .mobile-menu {
  width: 256px;
  height: calc(100vh - 72px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: -800%;
  z-index: -5;
  background-color: #333A44;
  padding: 64px 0 24px 32px;
  transition: 0.3s;
}
header menu .mobile-menu ul {
  flex-direction: column;
  align-items: self-start;
  row-gap: 24px;
}
header menu .mobile-menu ul li a {
  color: white;
}
header menu nav ul {
  -moz-column-gap: 32px;
       column-gap: 32px;
}

@media only screen and (max-width: 670px) {
  .header {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
  }
  .header menu {
    width: 100%;
    justify-content: space-between;
    -moz-column-gap: 0;
         column-gap: 0;
    align-items: center;
    position: relative;
    padding: 22px 0;
  }
  .header menu .gam {
    position: absolute;
    display: flex;
    margin-left: 33px;
  }
  .header menu .gam .gam1 {
    display: flex;
  }
  .header menu .logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header menu .mobile-menu {
    display: flex;
  }
  .header menu .mobile-menu button {
    display: block;
  }
  .header menu nav {
    display: none;
  }
  .header button {
    display: none;
  }
}
main .first-sec {
  position: relative;
  background: url(../../../img/images/about-hero-desktop.jpg) no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
}
main .first-sec .three-circles {
  position: absolute;
  right: -31px;
  top: calc(50% - 31px);
}
main .first-sec-item {
  height: 200px;
  color: white;
}

@media only screen and (max-width: 768px) {
  main .first-sec {
    background-image: url(../../../img/images/about-hero-tablet.jpg);
  }
}
@media only screen and (max-width: 670px) {
  main {
    padding-top: 72px;
  }
  main .first-sec {
    padding-left: 30px;
  }
  main .first-sec .three-circles {
    display: none;
  }
  main .first-sec-item {
    justify-content: center;
  }
}
@media only screen and (max-width: 450px) {
  main .first-sec {
    background-image: url(../../../img/images/about-hero-mobile.jpg);
  }
}
main .second-sec {
  position: relative;
  height: 543px;
  background: url(../../../img/images/world-map-desktop.png) no-repeat center center;
  background-size: 100% 100%;
  background-color: red;
  margin-top: 120px;
}
main .second-sec .locations {
  position: relative;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  width: 189px;
  height: 72px;
  background-color: #fcb72b;
}
main .second-sec .locations .location-item {
  position: absolute;
  bottom: -20%;
  left: calc(50% - 16px);
  transform: rotate(45deg);
  width: 32px;
  height: 32px;
  background-color: #fcb72b;
}
main .second-sec .new-york {
  top: 68px;
  left: 157px;
}
main .second-sec .london {
  top: 13px;
  left: 420px;
}
main .second-sec .yokohama {
  top: 74px;
  right: 72px;
}
main .second-sec .jakarta {
  top: 247px;
  right: 153px;
}

@media only screen and (max-width: 768px) {
  main .second-sec {
    height: 337px;
    background-image: url(../../../img/images/world-map-tablet.png);
    margin-top: 144px;
  }
  main .second-sec .locations {
    width: 120px;
    height: 32px;
    font-size: 13px;
  }
  main .second-sec .locations .location-item {
    width: 16px;
    height: 16px;
    bottom: -20%;
    left: calc(50% - 8px);
    transform: rotate(45deg);
    z-index: 0;
  }
}/*# sourceMappingURL=locations.css.map */