@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

button {
  font-family: "Space Mono", monospace;
}

img {
  display: block;
}

button {
  background-color: #FCB72B;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border: none;
}

ul li {
  font-size: 15px;
  font-weight: 700;
}
ul li a {
  text-decoration: none;
  color: #939CAA;
}

.big-container {
  max-width: 1560px;
  margin: 0 auto;
}

.container {
  max-width: 1166px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.df-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.df-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df-c {
  display: flex;
  align-items: center;
}

.df-sb {
  display: flex;
  justify-content: space-between;
}

.big-txt {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.title-txt {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
}

.medium-txt {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.0714285374px;
}

.btn-and-ul-txt {
  font-size: 15px;
  font-weight: 700;
}

.small-txt {
  font-family: Lexend Deca;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.learnMore-btn {
  padding: 14px 44px;
}

.getScootin-btn {
  padding: 14px 39px;
}

.apply-btn {
  padding: 14px 67px;
}

header {
  padding: 22px 0;
  background-color: white;
}
header menu {
  -moz-column-gap: 58px;
       column-gap: 58px;
  background-color: white;
}
header menu .gam {
  display: none;
}
header menu .gam .x {
  display: none;
}
header menu .gam .gam1 {
  display: none;
  flex-direction: column;
  width: 20px;
  height: 16px;
}
header menu .gam .gam1 .gam_item {
  width: 100%;
  height: 3px;
  background-color: #FCB72B;
}
header menu .mobile-menu {
  width: 256px;
  height: 520px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  z-index: -5;
  background-color: #333A44;
  padding: 64px 0 24px 32px;
  transition: 0.3s;
}
header menu .mobile-menu ul {
  flex-direction: column;
  align-items: self-start;
  row-gap: 24px;
}
header menu .mobile-menu ul li a {
  color: white;
}
header menu nav ul {
  -moz-column-gap: 32px;
       column-gap: 32px;
}

@media only screen and (max-width: 670px) {
  .header {
    padding: 0;
    width: 100%;
    position: fixed;
  }
  .header menu {
    width: 100%;
    justify-content: space-between;
    -moz-column-gap: 0;
         column-gap: 0;
    align-items: center;
    position: relative;
    padding: 22px 0;
  }
  .header menu .gam {
    display: flex;
    margin-left: 33px;
  }
  .header menu .gam .gam1 {
    display: flex;
  }
  .header menu .logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header menu .mobile-menu {
    display: flex;
  }
  .header menu .mobile-menu button {
    display: block;
  }
  .header menu nav {
    display: none;
  }
  .header button {
    display: none;
  }
}
main .first-sec {
  background: url(../../../img/images/home-hero-desktop.jpg) no-repeat center center;
  background-size: 100% 100%;
  padding: 153px 0;
}
main .first-sec .sec-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}
main .first-sec .sec-item h1 {
  max-width: 500px;
  color: white;
}
main .first-sec .sec-item p {
  max-width: 405px;
  color: white;
}

@media only screen and (max-width: 768px) {
  main .first-sec {
    background: url(../../../img/images/home-hero-tablet.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 137px 0 217px 0;
  }
  main .first-sec .sec-item {
    align-items: center;
  }
  main .first-sec .sec-item h1 {
    max-width: 573px;
    text-align: center;
  }
  main .first-sec .sec-item p {
    max-width: 573px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */