$yellow:#FCB72B;
$dark_grey:#495567;
$grey:#939CAA;
$light_grey:#E5ECF4;
$snow:#F2F5F9;
$light_yellow:#FFF4DF;



$big-txt-size:56px;
$big-line-height:56px;

$title_txt_size:48px;
$title_line_height:48px;

$medium_txt_size:40px;
$medium_line_height:48px;

$smallmedium_txt_size:24px;
$smallmedium_line_height:28px;

$small_txt_size:15px;
$small_line_height:25px;

