footer{
    .footer-item1{
        background: url(../../img/images/footer-bgimg.png) no-repeat bottom right   ;
        background-color: #495567;
        padding: 102px 0;
        .footer-item-top{
            flex-wrap: wrap;
            h2{
                width: 415px;
                color: white ;
            }
            .footer-btns{
                column-gap: 18px;
            }
        }
    }
    .footer-item2{ 
        background-color: #333A44;
        padding: 33px 0;
        .footer-item-bottom{
            .left-item{
                column-gap: 58px;
                ul{
                    display: flex;
                    column-gap: 32px;
                }
            }
            .right-item{
                column-gap: 24px;
                font-size: 24px;
            }
        }
    }
}

@media only screen and (max-width:834px) {
    footer{
        .footer-item1{
            .footer-item-top{
                justify-content: center;
                row-gap: 40px;
                h2{
                    width: 457px;
                    text-align: center;
                }
                .footer-btns{
                    column-gap: 18px;
                    img{
                        width: 113px ;
                        height: 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:620px){
    footer{
        .footer-item2{ 
            padding: 64px 0 88px 0;
            .footer-item-bottom{
                flex-direction: column;
                align-items: center;
                row-gap: 85px;
                .left-item{
                    flex-direction: column;
                    row-gap: 41px;
                    ul{
                        flex-direction: column;
                        row-gap: 16px;
                        align-items: center;
                    }
                }
            }
        }
    }
    
}
@media only screen and (max-width:500px){
    footer{
        .footer-item1{
            .footer-item-top{
                h2{
                    width: 311px;
                    font-size: 32px;
                    line-height: 32px;
                }
            }
        }
    }
    
}