@import '../../homePage/components/third-sec';
.about-top-arrow{
    position: absolute;
    right: 0;
    top: 268px;
}
@media only screen and (max-width:750px) {
    .about-top-arrow{
        right: -432px;
    }
}
@media only screen and (max-width:550px){
    .about-top-arrow{
        top: 133px;
    }
}