main{
    .third-sec{
        position: relative;
        margin-top: 120px;
        background: url(../../../img/images/half-cicle-left.png) no-repeat left top;
        .right-arrow{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media only screen and (max-width:950px) {
    main{
        .third-sec{
            margin-top: 120px;  
        }
    }
}
@media only screen and (max-width:750px) {
    main{
        .third-sec{
            overflow: hidden;
            .right-arrow{
                left: -150px;
            }
        }
    }
}

@media only screen and (max-width:650px){
    main{
        .third-sec{
            background-image: none;
        }
    }
}
@media only screen and (max-width:550px){
    main{
        .third-sec{
            margin-top: 120px;
            .second-sec-item{
                .img{
                    width: 311px;
                }
            }
        }
    }
}