main{
    .fourth-sec{
        position: relative;
        margin-top: 160px;
        background: url(../../../img/images/half-cicle-left.png) no-repeat left top;
        .right-arrow{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media only screen and (max-width:950px) {
    main{
        .third-sec{
            margin-top: 145px;  
        }
    }
}
@media only screen and (max-width:750px) {
    main{
        .fourth-sec{
            overflow: hidden;
            .right-arrow{
                left: -150px;
            }
        }
    }
}
