main{
    .second-sec{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 200px;
        padding-top: 160px;
        .yellow-cicles{
            position: relative;
            z-index: 1;
            width: 96px;
            height: 96px;
            background-color:$yellow;
            border-radius: 100%;
        }
        &-item1{
            width: max-content;
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 284px;
            .grey-line{
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 15px;
                background-color: $light-grey;
                border-radius: 10px;
            }
        }
        &-item2{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .yellow-cicles{
                display:none;
            }
            p{
                width: 350px;
                margin-top: 27px;
            }
        }
    }
}

@media only screen and (max-width:1160px) {
    main{
        .second-sec{ 
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 122px;
            &-item1{
                flex-direction: column;
                justify-content: space-between;
                .grey-line{
                    height: 100%;
                    width: 15px;
                }
            }
            &-item2{
                row-gap: 40px;
                width: 450px;
                p{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:700px) {
    main{
        .second-sec{
            justify-content: space-between;
            &-item2{
                width: 400px;
            }
        }
    }
}

@media only screen and (max-width:590px) {
    main{
        .second-sec{
            justify-content: space-around;
            padding-top: 120px;
            &-item1{
                display: none;
            }
            &-item2{
                row-gap: 48px;
                width: 311px;
                .yellow-cicles{
                    display: flex;
                }
                p{  
                    text-align: center;
                }
                h3{
                    text-align: center;
                    font-size: 20px;
                    margin-top: 24px;
                }
            }
        }
    }
}