main{
    .careers-fourth-sec{
        row-gap: 24px;
        margin-top: 120px;
        margin-bottom: 160px;
        &-items{
            width: 100%;
            padding: 32px 64px 35px 40px;
            background-color: $snow;
            &-txt{
                row-gap: 8px;
                p{
                    color:$dark_grey;
                } 
            }
        }
    }
}
@media only screen and (max-width:768px) { 
    main{
        .careers-fourth-sec{
            margin-bottom: 120px;
            row-gap: 16px;
            &-items{
                padding: 34px 48px;
            }
        }
    }
}
@media only screen and (max-width:700px) { 
    main{
        .careers-fourth-sec{
            &-items{
                flex-direction: column;
                row-gap: 16px;
                &-txt{
                    align-items: center;
                }
                button{
                    padding: 11px 150px
                }
            }
        }
    }
}
@media only screen and (max-width:600px) { 
    main{
        .careers-fourth-sec{
            align-items: center;
            margin-top: 145px;
            &-items{
                max-width: 311px;
                padding: 36px 32px 32px 32px;
                flex-direction: column;
                align-items: stretch;
                &-txt{
                    align-items: center;
                    row-gap: 4px;
                    h4{
                        font-size: 18px;
                    }
                }
                button{
                    padding: 11px 64px;
                }
            }
        }
    }
}